@media (min-width: 0px) and (max-width: 600px){
    .dice-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 40px 40px;
        row-gap: 15px;
    }
    .roll-dice {
        height: 40px;
        width: 80px;
        border: none;
        border-radius: 6px;
        background-color: #5035FF;
        color: white;
        font-size: 1.2rem;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        margin-top: 50px;
        align-self: center;
    }
    .you-won{
        font-size: larger;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .add-to-leaderboard{
        height: 40px;
        width: auto;
        border: none;
        border-radius: 6px;
        background-color: #c5e2c5;
        color: black;
        font-size: 1.2rem;
        cursor: pointer;
        align-self: center;
    }
}
@media(min-width:601px){
    .dice-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 60px;
        row-gap: 20px;
    }
    .roll-dice {
        height: 50px;
        width: 100px;
        border: none;
        border-radius: 6px;
        background-color: #5035FF;
        color: white;
        font-size: 1.2rem;
        font-family: 'Karla', sans-serif;
        cursor: pointer;
        margin-top: 50px;
        align-self: center;
    }
    .you-won{
        font-size: 1.6rem;;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .add-to-leaderboard{
        height: 40px;
        width: auto;
        border: none;
        border-radius: 6px;
        background-color: #c5e2c5;
        color: black;
        font-size: 1.4rem;
        cursor: pointer;
        align-self: center;
    }
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.roll-dice:focus , .add-to-leaderboard:focus{
    outline: none;
}

.roll-dice:active , .add-to-leaderboard:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
